body {
  position: relative;
}

.white {
  height: 1000px;
  width: 100vw;
  background-color: red;
}


.green {
  width: 400px;
  height: 200px;
  background-color: green;
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  translate:-50% -50%;
}


.gray {
  height: 1000px;
  width: 100vw;
  background-color: gray;
}